<ion-header>
  <ion-toolbar >
    <ion-title class="ion-text-center">
      <h1>Recipe List</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="colors ion-padding">
  <ion-searchbar  [(ngModel)]="searchTerm" (ionInput)="filterRecipes()"></ion-searchbar>
  <ion-list lines="full">
    <ion-item *ngFor="let recipe of recipes" (click)="showDetails(recipe)">
      <ion-thumbnail slot="start">
        <img>
      </ion-thumbnail>
      <h2>{{recipe.name}}</h2>
      <ion-badge color="primary" slot="end">{{ getAverageRating(recipe.reviews) | number: '1.1-1' }}</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>