<ion-header>
  <ion-toolbar>
    <ion-title>
      Add Recipe
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="addRecipeForm">
    <ion-item>
      <ion-label position="stacked"> Recipe Name </ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>
    <p class="error-message"
      *ngIf="addRecipeForm.get('name')!.dirty && addRecipeForm.get('name')!.hasError('required')">
      please input recipe name
    </p>
    <ion-item>
      <ion-label position="stacked"> Ingredients </ion-label>
      <ion-input formControlName="ingredients"></ion-input>
    </ion-item>
    <p class="error-message"
      *ngIf="addRecipeForm.get('ingredients')!.dirty && addRecipeForm.get('ingredients')!.hasError('required')">
      please input Ingredients
    </p>
    <ion-item>
      <ion-label position="stacked"> Instructions </ion-label>
      <ion-input formControlName="instructions"></ion-input>
    </ion-item>
    <p class="error-message"
      *ngIf="addRecipeForm.get('instructions')!.dirty && addRecipeForm.get('instructions')!.hasError('required')">
      please input Ingredients
    </p>
    <ion-item>
      <ion-label position="stacked"> Image </ion-label>
      <ion-input type="file" ></ion-input>
    </ion-item>
    <ion-button (click)="addRecipe()" class="button" expand="block">
      Add recipe
    </ion-button>
    <ion-button class="button" expand="block">
      Add to private list
    </ion-button>
  </form>
</ion-content>