<ion-header>
  <ion-toolbar>
    <!-- <ion-title>{{ recipe.name }}</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-divider>Ingredients</ion-item-divider>
    <!-- <ion-item *ngFor="let ingredient of recipe.ingredients">{{ ingredient }}</ion-item> -->
  </ion-list>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Instructions</ion-card-title>
    </ion-card-header>
    <!-- <ion-card-content>{{ recipe.instructions }}</ion-card-content> -->
  </ion-card>
</ion-content>