.header{
    padding-left: 20px;
    padding-top: 50px;
    padding-bottom: 200px;
}
.lbutton{
    margin-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
}
.sbutton{
    padding-left: 30px;
    padding-right: 30px;
}
.formlog{
    padding-left: 20px;
    padding-right: 20px;
}
.signupbutton{
    font-size: 15px;
}