<ion-header>
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" name="email" ngModel required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" name="password" ngModel required></ion-input>
    </ion-item>
    <ion-button type="submit" [disabled]="!loginForm.valid" expand="block">Login</ion-button>
  </form>
  <ion-text color="danger" *ngIf="error">{{ error }}</ion-text>
</ion-content>