<ion-header>
  <ion-toolbar>
    <ion-title>Signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <form [formGroup]="validateForm">
      <ion-item>
        <ion-label position="stacked"> Username </ion-label>
        <ion-input formControlName="username"></ion-input>
      </ion-item>
      <p class="error-message"
        *ngIf="validateForm.get('username')!.dirty && validateForm.get('username')!.hasError('required')">
        please input username
      </p>
      <ion-item>
        <ion-label position="stacked"> Email </ion-label>
        <ion-input formControlName="email"></ion-input>
      </ion-item>
      <p class="error-message"
        *ngIf="validateForm.get('email')!.dirty && validateForm.get('email')!.hasError('required')">
        please input email
      </p>
      <ion-item>
        <ion-label position="stacked"> Password </ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
      <p class="error-message"
        *ngIf="validateForm.get('password')!.dirty && validateForm.get('password')!.hasError('required')">
        please input password
      </p>
      <ion-button (click)="signup()" class="button" expand="block">
        Sign Up
      </ion-button>
    </form>

  </ion-content>