<ion-header>
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <!-- <ion-card-subtitle>{{user.username}}</ion-card-subtitle> -->
      <ion-card-title>About Me</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <!-- <ion-textarea *ngIf="!user.aboutMe" placeholder="Write a brief description about yourself"></ion-textarea> -->
      <!-- <p *ngIf="user.aboutMe">{{user.aboutMe}}</p> -->
    </ion-card-content>
  </ion-card>
 

  <!-- <app-private-recipe-list [userId]="user.id"></app-private-recipe-list> -->

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="aboutMe()">
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>