<ion-header>
  <ion-toolbar>
    <ion-button (click)="signOut()">sign out</ion-button>
    <ion-title>
      Profile
    </ion-title>
    <ion-button (click)="goHome()"> go home</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header *ngIf="aboutMe">
      <ion-card-subtitle>{{aboutMe.username}}</ion-card-subtitle>
      <ion-card-title>About Me</ion-card-title>
    </ion-card-header>

    
  </ion-card>
  <ion-card>
    <ion-card-content *ngIf="aboutMe">

      <p >{{aboutMe.aboutme}}</p>
    </ion-card-content>
  </ion-card>
 



  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="aboutMeModal()">
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>