<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="signOut()">Sign Out</ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <h1>Profile</h1>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goHome()">Go Home</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header *ngIf="aboutMe">
      <ion-card-subtitle>{{aboutMe.username}}</ion-card-subtitle>
      <ion-card-title>About Me</ion-card-title>
    </ion-card-header>


  </ion-card>
  <ion-card>
    <ion-card-content *ngIf="aboutMe">

      <p>{{aboutMe.aboutme}}</p>
    </ion-card-content>
  </ion-card>




  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="aboutMeModal()">
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>