<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToProfile()"> 
        <ion-icon name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="searchRecipes()"></ion-searchbar> -->
  
    <!-- <ion-item *ngFor="let recipe of filteredRecipes" (click)="openRecipePopover(recipe)">
      {{recipe.name}}
    </ion-item> -->
    <app-recipe-list></app-recipe-list>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addRecipe()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>